html {background-color: #111111;color: white;font-family: 'Ubuntu',sans-serif;}
a {color:aqua;}
.topnav {
    background-color: #333333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #7ec636;
    color: white;
  }

.box {
    width: 600px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 4px solid aqua;
    background-color: gray;
}
.box.right {
    float: right;
}
.box.left {
    float: left;
}

