html {background-color: #111111;color: white;font-family: 'Ubuntu',sans-serif; line-height: 1.4; margin-right: 270px;}
a {color:rgb(1, 218, 218);}
#navbar {overflow: hidden;background-color: #333333;position: fixed;top: 0px;border: 10px solid #111111;width: 96%;}
#navbar a {float: left;display: block;color: #f2f2f2;text-align: center;padding: 10px 14px;text-decoration: none;}
#navbar a.active {background-color: #7ec636;color: white;}
#navbar a.cont {background-color: #00b0d0;color: white;}
#navbar a.sub {background-color: #808080;color: white;}
.box {width: 600px;margin-left: 10px;margin-top: 10px;padding: 5px;border: 4px solid #acacac;background-color: #222222;}
.box.right {float: right;}
.box.left {float: left;}
table, td, th {border: 1px solid #606060; border-collapse: collapse;}
table {border: 0px solid #000000}